<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p style= "text-align: center; padding-top: 30px; color: rgb(255, 255, 254)">Created By Elijah Jedkins</p>
    </div>
</footer>