<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Vegeterian Recipes</h3>
        <nav class="nav-masthead">
            <a id='home' class="nav-link" href="/"> Welcome  </a>
            <a id='recipes' class="nav-link" href="/recipes"> Recipes  </a>
            <a id='stores' class="nav-link" href="/stores"> Store  </a>
            <a id='community' class="nav-link" href="/community"> Community  </a>
        </nav>
    </div>
</header>