<!DOCTYPE html>
<html>
<%- include('../Partials/header')-%>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../Partials/nav')-%>
    <h1> Community Chat </h1>
    <p style = "text-align:center"> 
   Feel free to share any comments or tips you may have. </p>
    <form>
         <p style = "text-align:center" > 
               <textarea placeholder= "Leave comment here" rows="10" cols="70"></textarea>
               <br>
               <button type="submit" class="btn btn-primary">Post</button>
               <br>
    </p>
    </form>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Robyn Fenty</h5>
              <p class="card-text">
                I loved the recipe for the recipe for the black bean burger! It taste great with some
                chipotle sauce.
              </p>
            </div>
          </div>
         </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Lucky Daye</h5>
              <p class="card-text">
                The vegan hummus wrap is a perfect meal for me when I'm in a rush. In my opinion, brussel sprouts
                taste better than alfalfa sprouts.
              </p>
            </div>
          </div>
          </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">Frank Ocean</h5>
                  <p class="card-text">
                    The sweet potato fries I ordered were the best I've ever tasted. I like to dip them in mayo or
                    honey mustard.
                  </p>
                </div>
              </div>
              </div>
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h5 class="card-title">Beyonce Knowles</h5>
                      <p class="card-text">
                        I followed the recipe for the kale salad and haven't looked back. I prefer to make my kale salads
                        with Tuscan kale.
                      </p>
                    </div>
                  </div>
                  </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card mb-4">
                        <div class="card-body">
                          <h5 class="card-title">Solána Rowe</h5>
                          <p class="card-text">
                            The olive oil I purchased from this website is the best olive oil I've ever had. Not only does it taste
                            good in kale salads, but it also taste really good on pasta!
                          </p>
                        </div>
                      </div>
                      </div>
                    </div>
                    <%- include('../Partials/footer')-%>
                    
                
      </body>
    </html>
