<!DOCTYPE html>
<html>
    <%- include('../Partials/header')-%>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../Partials/nav')-%>
            <h1> Vegetarian Recipes </h1>
            <h3> Black Bean Burger</h3>
            <div class ="foodimg" style = "text-align:center;">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2020/07/black-bean-burger-2-580x734.jpg" 
            alt="Black Bean Burger" style="width:600px;height:600px; border:5px solid #00641e;">
            </div>
            <main style = "text-align:center; padding-top:30px">
                <h4>Ingredients for Bean Burger</h4>
                <ul>
                    <li> Black Beans </li>
                    <li> Onion </li>
                    <li> Garlic </li>
                    <li> Canned chipotles and adobo sauce </li>
                    <li> Balsamic vinegar and tamari </li>
                    <li>Panko bread crumbs</li>
                    <li> An egg</li>
                    <li>Salt and pepper</li>
                </ul>
                <br>
                <h4>Instructions on making a Black Bean Burger</h4>
                <ol>
                    <li> Combine the black beans, onion, garlic, chipotles and adobo sauce, 
                        cumin, balsamic, tamari, salt, and pepper in a large bowl.</li>
                    <li> Use a large fork or potato masher to mash the mixture until it starts to hold together but still has visible chunks of black beans.
                        Fold in the egg, followed by the panko bread crumbs.</li>
                    <li> Form the mixture into 6 patties, about a heaping 1/3 cup each. Then, cook! You can use a cast-iron skillet or an outdoor grill for this step. 
                        Either way, the patties should be well-charred, crisp on the outside, and tender in the middle. 
                        Enjoy! </li>

                </ol>
            </main>
            <h3> Kale Salad</h3>
            <div class ="foodimg">
            <img src="https://cookieandkate.com/images/2018/08/debs-kale-salad-with-apples-pecans-1-2-550x824.jpg" 
            alt="Kale Salad" style="width:600px;height:600px; border:5px solid #00641e;">
            </div>
            <main style = "text-align:center; padding-top: 50px;">
            <h4>Ingredients for Salad</h4>
            <ul>
                <li> ½ cup pecans </li>
                <li> 8 ounces kale </li>
                <li> 4 to 5 medium radishes </li>
                <li> ½ cup dried cranberries </li>
                <li> 1 medium Granny Smith apple </li>
                <li> 2 ounces soft goat cheese, chilled </li>
            </ul>
            <br>
            <h4> Ingredient for Dressing </h4>
            <ul>
                <li> 3 tablespoons olive oil </li>
                <li> 1 ½ tablespoons apple cider vinegar (or white wine vinegar) </li>
                <li> 1 tablespoon smooth Dijon mustard </li>
                <li>1 ½ teaspoons honey or maple syrup </li>
                <li> Sea salt and freshly ground pepper, to taste </li>

            </ul>
            <br>
            <h4> Instructions to making Kale Salad </h4>
            <ol style= "text-align: left">
                <li>
                    Preheat the oven to 350 degrees and spread the pecans on a baking tray. 
                    Toast them until lightly golden and fragrant, about 5 to 10 minutes, tossing them once or twice to make sure they bake evenly. 
                    Remove the tray from the oven and set them aside to cool.</li>
                <li> Pull the kale leaves off from the tough stems and discard the stems. Use a chef’s knife to chop the kale into small, bite-sized pieces. 
                    Transfer the kale to a big salad bowl. Sprinkle a small pinch of sea salt over the kale and massage the leaves with 
                    your hands by lightly scrunching big handfuls at a time, until the leaves are darker in color and fragrant.</li>
                <li> Thinly slice the radishes (this is easier to do if you first chop off the root 
                    end so you can place the base of the radish flat against your cutting board). 
                    Add them to the bowl.</li>
                <li> Coarsely chop the pecans and cranberries (or cherries) and add them to the bowl. 
                    Chop the apple into small, bite-sized pieces and add it to the bowl as well. 
                    Crumble the goat cheese over the top. </li>
                <li> In a small bowl, whisk the dressing ingredients together and pour the dressing over the salad. 
                    Toss until the salad is evenly coated with dressing. Serve immediately, or for even better flavor, 
                    let the salad marinate in the dressing for 10 to 20 minutes beforehand.</li>

            </ol>
            <br>
        </main>
            <h3> Vegan Hummus Avocado Wrap </h3>
            <div class="foodimg">
            <img src="https://www.thespruceeats.com/thmb/9lE2V_SNXGtTvejK0cr2wH83oh8=/940x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/vegan-avocado-wrap-sandwich-with-hummus-3377621-hero-01-6945a100b88d4271b0debb161dc7350a.jpg" 
            alt="Vegan Hummus Avocado Wrap" style="width:600px;height:600px; border:5px solid #00641e;">
             </div>
            <main style = "text-align:center; padding-top: 50px; ">
            <h4>Ingredients for Vegan Wrap</h4>
            <ul>
                <li> 1 flour tortilla </li>
                <li> 3 tablespoons hummus </li>
                <li> 1/4 avocado, thinly sliced </li>
                <li> 1/3 cup alfalfa sprouts </li>
                <li> 2 to 4 slices tomato </li>
                <li> 4 slices cucumber, optional </li>
            </ul>
            <br>
            <h4> Instructions to making Vegan Hummus Avocado Wrap </h4>
            <ol>
                <li>Gather the ingredients.</li>
                <li>Bring flour tortilla to room temperature.</li>
                <li>Spread hummus down the middle of the flour tortilla.</li>
                <li>Arrange avocado, alfalfa sprouts, tomato, and cucumber (if using) 
                    on top of hummus and fold up into a sandwich wrap.</li>
            
                </ol>
            </main >
            <%- include('../Partials/footer')-%>
        </div>
    </body>
</html>