<%- include('../Partials/header')-%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../Partials/nav')-%>
        <main">
            <header class="row tm-welcome-section">
                <h1>Welcome to the Health Recipes Website.</h1>
                <p class="col-12 text-center" style = "text-align: center"> This website was created to provide vegetarian that everyone loves!</p>
                <br>
            </header>
            <img src="https://vegsoc.org/wp-content/uploads/2019/03/veggie-spread-750x580.jpg"
            alt="Vegetarian Food">
            <%- include('../Partials/footer')-%>
        </main>
    </div>
    </body>
    </html>